* {
  margin: 0;
  font-family: "Rubik", sans-serif;
  text-align: center;
}
body span {
  font-size: 18px;
  color: black;
}

h1 {
  font-size: 30px;
  padding: 2%;
  color: white;
}

input[type="text"] {
  width: 63%;
  height: 40px;
  padding-right: 50px;
  border: 0px;
  border-radius: 15px;
}

.button {
  margin-left: -30px;
  height: 45px;
  width: 43px;
  border: 0px;
  border-radius: 15px;
  background-color: black;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.leaflet-container {
  width: 100vw;
  height: 70vh;
}

.upper {
  height: 30vh;
  background-image: url(./images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.overlay {
  position: absolute;

  top: 25%;
  margin-left: 14%;
  background-color: white;
  height: auto;
  width: 75%;
  border-radius: 15px;
  padding: 20px 0px;
  z-index: 10000;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
}

.flex-item {
  color: hsl(0, 0%, 59%);
  font-size: 12px;
  padding: 10px 0px;
  flex: 50%;
}

@media screen and (max-width: 750px) {
  .overlay {
    width: 85%;
    margin-left: 8%;
    top: 17%;
    padding: 0 0;
  }
  .flex-container {
    flex-direction: column;
  }
}
